# Git repository
.git
.gitignore

# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Build Artifacts and Cache
dist/
build/
.cache/
coverage/


# Environment variables
.env

# Documentation
docs/

# Tests
tests/

# IDE/editor settings
.vscode/
.idea/

# Ignore logs and temporary files
*.log
tmp/

# Tests and Documentation
/tests/
*.test.js
docs/
