# Common Environment Variables
NODE_ENV=production

# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URI=

# Database Names
MONGO_DB=activity
MONGO_DB_FRONTEND=frontend
MONGO_DB_ACTIVITY=activity
MONGO_DB_ANALYTICS=analytics
MONGO_DB_RECIPES=recipes
MONGO_DB_AUTHSERVICE=authservice

# Frontend URLs for Services (Relative to NGINX)
REACT_APP_ACTIVITY_URL=/api/activity
REACT_APP_ANALYTICS_URL=/api/analytics
REACT_APP_RECIPES_URL=/api/recipes
REACT_APP_AUTHSERVICE_URL=/api/auth
